__pycache__/
*.py[cod]
*$py.class

Vertions/
Fabrication/
3D/
bom/
Spectra/
Gerber*/
*.*-bak
*.bak
*.egg-info/
.installed.cfg
*.egg
*.zip

*-cache
*-cache.*

MANIFEST

venv/

.idea/

*.swp
build-Arduino*
CMakeLists.txt.user
